{% load static %}
<header class="header">
    <div class="container header__container">
       <a href="{% url 'vacancies:vacancy_list' %}" class="logo"><img loading="lazy" src="{% static 'accounts/register_page/img/svg/logo.svg' %}" class="image" width="83" height="32" alt="Логотип RoboSchool"></a>
       <nav class="nav" title="Главное меню" data-menu>
          <ul class="list-reset nav__list">
             {% if not request.user.is_authenticated %}
             <li class="nav__item"><a href="{% url 'accounts:login_page' %}" class="nav__link" data-menu-item data-scroll>Войти</a></li>
             {% else %}
             <li class="nav__item"><a href="{% url 'accounts:logout_page' %}" class="nav__link" data-menu-item data-scroll>Выйти</a></li>
             {% endif %}
          </ul>
          <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
       </nav>
    </div>
</header>